@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Libre+Franklin&family=Pacifico&display=swap');

/* Create color variables for themes*/
:root {
    --primary-color: rgb(255, 92, 92);
    --primary-variant: #ff2d2d;
    --secondary-color: #1b9999;
    --on-primary: rgb(250, 250, 250);
    --on-background: rgb(66, 66, 66);
    --on-background-alt: rgba(66, 66, 66, 0.7);
    --background: rgb(255, 255, 255);
    --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;    
    color: var(--on-background);
    font-family: 'Libre Franklin', sans-serif;
    background-color: var(--background);      
}

section {
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: center;
    min-height: 100vh; /*100% of viewport height*/
}

h1 {
    font-size: 80px;
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
}

h2 {
    color: var(--on-background-alt);
    font-size: 32px;
    font-weight: normal;
}
/* Navigation */
nav {
    z-index: 10;
    position: fixed;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 3px;
    padding: 25px;
    width: 100vw;
    background: rgb(255 255 255 / 50%);
}
a {
    margin-right: 25px;
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

a:hover,
a:focus {
    border-bottom: 3px solid;
    color: var(--on-background);
}

/* About Section */
.about-container {
    display: flex;
    
}

.image-container {
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 25px;
    width: auto;
    background: var(--background);
    box-shadow: var(--box-shadow);
  }

img {
    height:200px;
    width: 200px;
}

/* Projects section */

.buttons {
    margin-top: 15px;
    margin-bottom: 50px;
}

button {
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    font-size: 15px;
    outline: none;
}

button:disabled {
    cursor: default;
    opacity: 0.4;
}

button:hover:not(.outline) {
    filter: brightness(110%);
}

.primary {
    background: var(--primary-color);
    color: var(--on-primary);
}

.secondary {
    border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
}

.outline {
    background: var(--background);
    color: var(--on-background);
}

.outline:hover {
    background: var(--primary-color);
    color: var(--on-primary);
}
